[Desktop Entry]
Encoding=UTF-8
Name=Link to 4. Built-in Types — Python 3.5.10 documentation
Type=Link
URL=https://docs.python.org/3.5/library/stdtypes.html#string-methods
Icon=text-html
Name[it_IT]=String methods - official Python Documentation
