[Desktop Entry]
Encoding=UTF-8
Name=Link to What is NumPy? — NumPy v2.3 Manual
Type=Link
URL=https://numpy.org/doc/stable/user/whatisnumpy.html
Icon=text-html
Name[it_IT]=What is NumPy? — NumPy v2.3 Online Manual
