[Desktop Entry]
Encoding=UTF-8
Name=Link to Corso: Computer Vision and Image Processing M - Image Processing and Computer Vision M | Virtuale
Type=Link
URL=https://virtuale.unibo.it/course/view.php?id=68860
Icon=text-html
Name[it_IT]=Link to Computer Vision and Image Processing M - Image Processing and Computer Vision M | Virtuale
